body,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ul,li,input{margin:0; padding:0;}
body{font-size:12px; font-family:"微软雅黑";}
ol,ul,li{list-style:none;}
a{text-decoration:none; display:block;}
img{display:block; border:0;}
input{border: 0;}
clearFix:after{content:"."; height:0; clear:both; display:block; overflow:hidden; visibility:hidden;}

/*顶部*/
#top{width: 100%;height: 32px; background: #f2f2f2; border-bottom: 1px solid #e5e5e5;}
.top1{width: 1230px; height: 32px; margin: 0 auto;}
.top_bar{float: left;}
.top_bar li{height: 32px; margin-right: 19px; float: left;}
.top_bar a{color: #a0a0a0; line-height: 32px; height: 32px; float: left;}
.top_bar span{color: #a0a0a0; line-height: 32px; height: 32px; display: block; float: left;}
.top_bar a:hover{color: #dd2727;}
.top_bar .no_mar{margin-right: 0;}

.top_menu{float: right;}
.top_menu li{height: 32px; float: left;}
.top_menu a{color: #a0a0a0; line-height: 32px; height: 32px; margin-left: 18px; float: left;}
.top_menu a:hover{color: #dd2727;}
.top_menu .top_me{padding-right: 8px; background: url(../img/top_14.png) no-repeat right center;}
.top_menu .top_me2{padding-left: 15px; background: url(../img/top_06.png) no-repeat left center;}
.top_menu .top_me3{padding-left: 16px; background: url(../img/top_03.png) no-repeat left center;}
.top_menu .top_me4{background: url(../img/top_16.png) no-repeat right center;}
.top_menu .top_me4_1{padding-right: 21px; background: url(../img/top_14.png) no-repeat 38px center;}
.top_menu .top_me5{margin-left: 15px; padding-left: 13px; background: url(../img/top_09.png) no-repeat left center;}
.top_menu .top_me6{padding-right: 8px; background: url(../img/top_14.png) no-repeat right center;}
.top_menu .top_me7{padding-left: 18px; background: url(../img/top_11.png) no-repeat left center;}
.top_menu .top_me7_1{padding-right: 8px; background: url(../img/top_14.png) no-repeat right center;}
.top_menu .no_mar{margin-left: 0;}

/*头部*/
#header{width: 100%; height: 130px; background: #fff;}
.header1{width: 1230px; height: 130px; margin: 0 auto; position: relative;}
.head_map{position: absolute; left: 25px; top: 33px;}

.header1 .search{width: 625px; height: 40px; float: left; position: absolute; top: 38px; left: 317px;}
.header1 .search1{width: 483px; height: 36px; border: 2px solid #c40000; border-right: none; font-size: 14px; padding-left: 8px; line-height: 38px; color: #ccc;float: left;}
.header1 .search2{width: 132px; height: 40px; background: #c40000; font-size: 18px; color: #fff; font-weight: bold; float: left;}

.header1 .header_bot{height: 30px; position: absolute; top: 78px; left: 317px;}
.header_bot li{float: left; height: 30px; padding: 0px 12px; background: url(../img/top_16.png) no-repeat right center;}
.header_bot a{ color: #999; font-size: 14px; line-height: 30px;}
.header_bot .bar_red{color: #dd2727;}
.header_bot .no_pad{padding-left: 0;}
.header_bot .no_pad2{padding-right: 0; background: none;}

/*导航*/
#nav{width: 100%; height: 36px; background: #dd2727;}
.nav1{width: 1230px; height: 36px; margin: 0 auto;}
.nav1 li{height: 36px; margin-right: 30px; float: left;}
.nav1 a{color: #fff; font-size: 16px; height: 36px; line-height: 36px;float: left;}
.nav1 .classify{padding: 0px 95px 0px 41px; background: #c60a0a url(../img/nav_40.png) no-repeat 14px 12px;}
.nav1 .tmall_1{padding-left: 23px; background: url(../img/nav_37.png) no-repeat left 10px;}
.nav1 .tmall_2{padding-left: 22px; background: url(../img/nav_34.png) no-repeat left 9px;}
.nav1 .no_mar{margin-right: 0;}

/*底部*/
#footer{width: 100%; height: 557px; border-top: 1px solid #d1d7dc; background: #fff;position: relative;}
.footer1{width: 1230px; height: 363px; margin: 0 auto;}
.footer2{height: 50px; padding: 50px 0px;float: left;}
.footer2 li{float: left; background: url(../img/footer_11.png) no-repeat right bottom;padding-right: 1px;}
.footer2 .no_img{background:none;}
.footer3{width: 1230px; height: 189px; padding-top: 23px; border-top: 1px solid #ededed; position: relative; float:left;}
.footer3 h3{height: 30px; line-height: 30px; color: #646464; font-size: 18px;}
.footer3 li{height: 20px;}
.footer3 a{color: #8b8b8b;line-height: 20px;}
.footer3 .footer3_6{position: absolute; bottom: 0; left: 80px;}
.footer3 .footer3_5 h3{margin-bottom: 3px;}
.footer3_1,.footer3_2,.footer3_3,.footer3_4,.footer3_5{width: 100px; float: left; margin-left: 140px; display: inline;}
.footer3 .footer3_1{margin-left: 80px; display: inline;}
.footer3 a:hover{color: #dd2727;}

.footer4{height: 194px; background: url(../img/footer3_09.png);}
.footer4_1{width: 1195px; height: 194px; padding-left: 35px; margin: 0 auto; position: relative;}
.footer4_2{height: 38px;}
.footer4_2 li{float: left;margin-right: 5px;}
.footer4_2 a{color: #fff; line-height: 38px; height: 38px; float: left;}
.footer4_2 .no_mar{margin-right: 0;}
.footer4_3{height:34px;}
.footer4_3 li{float: left;padding: 0px 7px 0px 5px; background: url(../img/footer4.png) no-repeat right center;}
.footer4_3 a{color: #fff; line-height: 34px; height: 34px; float: left;}
.footer4_3 .no_pad{padding-left: 0;}
.footer4_3 .no_pad2{padding-right: 0; background: none;}
.footer4 a:hover{color: #dd2727;}
.footer5{color: #999; height: 20px; line-height: 20px;}
.footer5_1{margin-left: 65px;}
.footer6{color: #999; height: 20px; line-height: 20px;}
.footer7{position: absolute; left: 35px; bottom: 22px;}
.footer8{position: absolute; left: 121px; bottom: 22px;}
.download{position:absolute; bottom: 20px; right: 20px;}
